*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: brown;

  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 50vh;
  background-color: aqua;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.clickbuttoncontainer {
  margin-bottom: 2rem;
}

.message {
  text-align: center;
}
.title {
}
